.country {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 70px;
  height: 100vh;
}

.country-backBtn {
  padding: 10px;
  width: 90px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  border-radius: 7px;
  border: 0px solid transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.country-backBtn > img{
  width:17px;
  align-self: center;
  justify-self: center;
  margin-right: 4px;
}

.country-content {
  display: flex;
  flex-direction: row;
  margin:70px 70px 0 0;
}

@media only screen and (max-width: 533px) {
  .country-content {
    flex-direction: column;
  }
}

.country-left {
 margin-right: 70px;
}

.country-right {
  display: flex;
  flex-direction: column;
}

.country-image {
  width: 500px;
}
.country-attribute {
  font-weight: 600;
  align-self: center;
}

.country-details-container {
  display: flex;
  flex-direction: row;
}

.country-borderNations {
  margin-top:35px;
  display: flex;
}

.country-borderNation {
  padding: 10px;
  border: solid  1px hsl(0, 0%, 98%);
  margin:5px;
  background-color: hsl(0, 0%, 100%);
  align-self: center;
  border-radius: 7px;
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
  border: 0px solid transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.country-value {

}

.dark-mode-theme {
  background-color: hsl(200, 15%, 8%);
  color:hsl(0, 0%, 100%);
}

.dark-mode-theme-component {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px hsl(200, 15%, 8%);
}
