.country {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 70px;
}

.country-backBtn {
  padding: 10px;
  border:solid  1px lightgray;
  width: 100px;
  text-align: center;
  background-color:white;
}

.country-content {
  display: flex;
  flex-direction: row;
  margin:70px 70px 0 0;
}

@media only screen and (max-width: 533px) {
  .country-content {
    flex-direction: column;
  }
}

.country-left {
 margin-right: 70px;
}

.country-right {
  display: flex;
  flex-direction: column;
}

.country-image {
  width: 500px;
}
.country-attribute {
  font-weight: 600;
  align-self: center;
}

.country-details-container {
  display: flex;
  flex-direction: row;
}

.country-borderNations {
  margin-top:35px;
  display: flex;
}

.country-borderNation {
  padding: 10px;
  border:solid  1px lightgray;
  margin:5px;
  background-color:white;
  align-self: center;
}

.country-value {

}