.header {
  display: flex;
  flex-direction: row;
  padding:0 100px;
  justify-content: space-between;
  align-content: center;
  background-color: white;
}

.header-title {
  align-self: center;
}

.header-dark-mode {
  align-self: center;
}

@media only screen and (max-width: 533px) {
  .header {
    padding:0 20px;
  }
  .header-title {
    font-size: 14px;
  }
  .header-dark-mode {
    font-size: 12px;
  }
}