.header {
  display: flex;
  flex-direction: row;
  padding:0 100px;
  justify-content: space-between;
  align-content: center;
  background-color:  hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
}

.header-title {
  align-self: center;
}

.header-dark-mode {
  align-self: center;
  display: flex;
}
.header-dark-mode >span {
  margin-left: 10px;
  font-weight: 600;
}

.header-dark-mode-img {
  width: 17px;
  height: 17px;
}

@media only screen and (max-width: 533px) {
  .header {
    padding:0 20px;
  }
  .header-title {
    font-size: 14px;
  }
  .header-dark-mode {
    font-size: 12px;
  }
}