.card {
  margin:35px;
  border-radius: 7px;
  background-color:  hsl(0, 0%, 100%);
  width:240px;
  min-height: 350px;
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
}

.card-top {
  height: 100%;
}

.card-top > img {
  width: 100%;
}

.card-bottom {
  padding: 15px 0px 15px 15px;
}
.card-bottom > h2 {
  margin-top: 0px;
}

.card-attribute {
  font-weight: 600;
}

.card-value {

}