.loading-spinner,
.loading-spinner__dial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px 0px hsl(207, 26%, 17%);
  animation: pulse 1.2s infinite alternate;
}

.loading-spinner__dial {
  width: 78%;
  height: 78%;
  border-radius: 50%;
  animation: pulse 1.2s infinite alternate;
  animation-delay: calc(1.2s / 4);
}

.loading-spinner__dial:after {
  content: '';
  width: 100%;
  height: 100%;
  background: hsl(209, 23%, 22%);
  border-radius: 50%;
  animation: rotate 2.4s infinite linear;
}


.loading-spinner__nub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left:50%;
  width: 55%;
  height: 55%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: hsl(200, 15%, 8%);
  background-size: 120%;
  background-position: center;
}

.loading-spinner__nub:after {
  content: '';
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color:  hsl(0, 0%, 100%);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  animation: pulse 1.2s infinite alternate;
  animation-delay: calc(1.2s / 4);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}