.filter {
  border-radius: 7px;
  padding: 17px 70px;
  background-color:  hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
}

@media only screen and (max-width: 802px) {
  .filter {
    margin-top:35px;
  }
}
