.filter {
  display: flex;
  flex-direction: column;
}

.filter-cta {
  box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
  background-color:  hsl(0, 0%, 100%);
  border-radius: 7px;
  padding: 17px 10px 17px 15px;
  align-self: flex-start;
}

.filter-button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  }

  .filter-button > img {
    height:16px;
    align-self: center;
    margin-left: 25px;
  }

  .filter-options {
    margin-bottom: 4px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
  }

  .filter-options:hover {
    color:hsl(0, 0%, 52%);
  }

  .filter-content {
    display: none;
  }

  .filter-content-show {
    border-radius: 7px;
    padding: 17px 25px;
    box-shadow: 1px 1px 1px hsl(0, 0%, 90%);
    background-color:  hsl(0, 0%, 100%);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 200px;
    width: 125px;
  }

@media only screen and (max-width: 802px) {
  .filter {
    margin-top:35px;
  }
  .filter-content-show {
    top: 320px;
  }
}

@media only screen and (max-width: 801px) {
  .filter-content-show {
    top: 280px;
  }
}

@media only screen and (max-width: 612px) {
  .filter-content-show {
    top: 320px;
  }
}

@media only screen and (max-width: 533px) {
  .filter {
    margin-top:0px;
  }

  .filter-content-show {
    top: 120px;
  }
}

@media only screen and (max-width: 533px) {
  .filter {
    margin-top:60px;
  }
  .filter-content-show {
    top: 180px;
  }
}

@media only screen and (max-width: 359px) {
  .filter {
    margin-top:15px;
  }
  .filter-content-show {
    top: 180px;
  }
}

.dark-mode-theme-component {
  background-color: hsl(207, 26%, 17%);
  box-shadow: 1px 1px 1px hsl(200, 15%, 8%);
}
.dark-mode-theme-component > input{
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}